<div class="container mt-3 p-5">
  <%= render "search" %>
</div>

<% if @results_search_car.nil? %>
  <% Car.all.each do |car| %>
    <%= render "all_cars", car: car %>
  <% end %>
<% elsif @results_search_car.empty? %>
  <p>No car available for this period</p>
<% else %>
  <% @results_search_car.each do |car| %>
    <%= render "results_search_car", car: car %>
  <% end %>
<% end %>
