<div class="container mt-3 p-5">
  <%= render "search" %>
</div>

<% if @car_full_availibility.nil? %>
  <% Car.all.each do |car| %>
    <%= render "all_cars", car: car %>
  <% end %>
<% elsif @car_full_availibility.empty? %>
  <p>No car available for this period</p>
<% else %>
  <% @car_full_availibility.each do |car| %>
    <%= render "results_search_car", car: car %>
  <% end %>
<% end %>
