<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= link_to "CARS", cars_path %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <div class="d-flex flex-row">
        <% if user_signed_in? %>
          <p class="me-2 mt-3"><%= link_to "PROFIL", user_path(current_user.id) %></p>
          <p class="me-2 mt-3"><%= link_to "SIGN OUT", destroy_user_session_path, method: :delete%></p>
        <% else %>
          <p class="me-2 mt-3"><%= link_to "SIGNIN/SIGNUP", new_user_session_path%></p>
        <% end %>
      </div>
    </div>
  </div>
</nav>
